build/
output/

tinytwin.aut
tinytwin.dot
3-withacc.dot

castfile.aut
new_castfile.aut
new_castfile_tinytwin.aut
fixed_time_progress.aut
tau_actions.txt
temp.txt

castfunction_variables/bin/
castfunction_variables/build/
castfunction_variables/include/
castfunction_variables/lib/
castfunction_variables/share/
castfunction_variables/src-gen/
castfunction_variables/input.json

extraction_function/bin/
extraction_function/build/
extraction_function/include/
extraction_function/lib/
extraction_function/share/
extraction_function/src-gen/
extraction_function/input.json

__pycache__/
*.pyc
*.pyo
*.o
*.a
*.so

.DS_Store
Thumbs.db
.vscode/
.idea/